.card {
  max-width: 32.7rem;
  border-radius: 1rem;
}

.card__top {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  max-height: 21.2rem;
  width: 100%;
  border-radius: 1rem;
}

.card__top:hover {
  cursor: pointer;
}

.card__top img {
  border-radius: 1rem;
  object-fit: cover;
}

.card__top button {
  position: absolute;
  bottom: -2.2rem;
}

.card__top--hasQuantity {
  outline: 2px solid var(--red);
}

.card__top--hasQuantity:hover {
  outline: unset;
}

.card__bottom {
  margin-top: 4rem;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.card__category {
  color: var(--rose-500);
}

.card__name {
  color: var(--rose-900);
  font-weight: 600;
}

.card__price {
  color: var(--red);
  font-weight: 600;
}

@media (min-width: 768px) {
  .card {
    max-width: 25rem;
  }
  .card__top {
    max-height: 24rem;
  }
  .card__top img {
    height: 24rem;
    object-position: center;
  }
}
